<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<%= javascript_include_tag "application" %>
	</head>
	<body>

		<!-- <form id="recipe_converter_form">
			<textarea id="text_area" rows="10" cols="70"></textarea></br>
			<input type="submit" value="Convert Recipe!" id="convert_button">
		</form> -->

		<%= form_for :recipe, html: { id:'recipe_converter_form' } do |f| %>
			<p>
				<%= f.label :name %></br>
				<%= f.text_field :name %>
			</p>

			<p>
				<%= f.label :ingredients %></br>
				<%= f.text_area :ingredients, rows: 10, cols: 70, id: 'text_area'%>
			</p>

			<p>
				<%= f.submit "Convert Recipe", id: 'convert_button'%>
			</p>
		<% end %>

	<div id="results">
		<!-- <textarea id="text_area" rows="10" cols="70"></textarea> -->
		<%= form_for :recipe, html: { id:'recipe_converter_form' } do |f| %>
			<p>
				<%= f.label :ingredients %></br>
				<%= f.text_area :ingredients, rows: 10, cols: 70, id: 'text_area'%>
			</p>
		<% end %>	
	</div>
</body>
</html>


