<div id="wrapper">

<center><%= form_for :recipe, remote: true, html: { id:'recipe_converter_form' } do |f| %>
	<p>
		<%= f.label :name, id: 'name' %> </br> 
		<%= f.text_field :name, id: 'name_field'%>
	</p>

	<p>
		<%= f.label :ingredients, id: 'ingredients' %> </br>
		<%= f.text_area :ingredients, rows: 10, cols: 70, id: 'ingredient_area'%>
	</p>

	<p>
		<%= f.submit "Convert Recipe", id: 'convert_button' %>
	</p>

<% end %>
    <a href = "#grocery_list"><button id="shopping_list_button">Make Shopping List</button></a>
    </center>
</div>

<div id="grocery_wrapper">
   <div id="grocery_list">
        
    </div>
</div>
    
    <center><h2 class="about_the_team">About The Team</h2></center><br><br>
    <div id="about_us_wrapper">
   <div id="about_us">
        <center><p class="description">Teaspoon was built by Adrienne Fishman and Denine Guy to help<br> you convert recipes from the metric system to the U.S. standard system.<br> Copy and paste the  entire recipe and click the Convert Recipe button!</p><br></center>
    </div>
    <div class="right-about about-div">
      <center><p class="description">Teaspoon was built with love in the Ruby-005 semester at the <a href="http://flatironschool.com" target="_blank" class="flatiron_school">Flatiron School</a> by:</p></center>
       <div class="bio">
        <div class="ado_image"><img alt="" class="Adrienne Fishman photo" height="150" src="https://avatars2.githubusercontent.com/u/5332367?v=2&s=460" width="150">
        <p class="flatiron_school_no_link">Adrienne Fishman</p>
        <a href="https://github.com/adriennefishman" target="_blank" class="flatiron_school">Github |</a>
        <a href="http://adriennefishman.github.io/" target="_blank" class="flatiron_school">Blog</a></div>
        <div class="denine_image"><img alt="Denine Guy photo" src="/assets/denine.jpg" style="height:150px;width:140px">
        <p class="flatiron_school_no_link">Denine Guy</p>
        <a href="http://github.com/denineguy" target="_blank" class="flatiron_school">Github |</a>
        <a href="http://denineguy.github.io/" target="_blank" class="flatiron_school">Blog</a></div>
      </div>
</div>

<footer id="footer">
    Built with &#9825; at the <a href="http://www.flatironschool.com" target="_blank" class="flatiron_link">Flatiron School</a>
    <span style="float:left;padding-left:2px;">  &#169; Copyright 2014 MIT License</span>
  </footer>






